# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:80

# Auth
BETTER_AUTH_SECRET=                     # Required: Secret key for authentication
BETTER_AUTH_URL=http://localhost:80   # Must match the app url for the authentication process to work properly


# Database
DATABASE_URL=                           # Required: PostgreSQL connection string
ENCRYPTION_KEY=                         # Required: Encryption key

#External Api
DUFFEL_TOKEN=                           # Required: Duffel token
# AI
OPENAI_API_KEY=                         # Key to access openAI API
GOOGLE_GENERATIVE_AI_API_KEY=           # Key to access Google Gemini API
AI_PROVIDER=                            # Select which AI model will assist, values:{"google", "openAI"}
                                        # Default and Best model is Google's Gemini